html{
  background: #ffdcb1;
}
header{
  background: #5f3e36;
  text-align: left;
  
}

nav{
  text-align: center;
}
nav ul li{
  display: inline-block;
  
  margin: 15px;
}

nav ul li a{
  margin: 25px;
  padding: 1px;
  text-decoration: none;
  border-radius: 2px;
  color: wheat;
  
}

aside{
  float: left;
  width: 25%;
  margin: 25px;
  background: #ffa73b;
  display: block;


}
aside button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20ps;
}

aside img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}


aside p{
  display: block;
  text-align: center;
  margin: 10px;
}

section{
  float: right;
  width: 65%;
  margin: 25px;
  background: #ffa73b;
  display: block;
}

section p{
  display: block;
  text-align: center;
  margin: 10px;
}

section img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 400px;
}

.menu{
background: brown;
}

.title{
  padding: 20px;
background: #5f3e36;
color: whitesmoke;

}